
.centerText { text-align: center; }

.collapsibleFont { font-size: 30px; }

.collapsibleColor { color: aqua; }

.collapsibleContentColor { color: black; }

.resizeSelfie
{
  width: 200px;
  height: auto;
}


